.accaunt-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.product-list {
    margin-top: 20px;
}

.product-item {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #fff;
    transition: box-shadow 0.3s;
}

.product-item:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.product-item h3 {
    margin: 0 0 10px;
    color: #007BFF; /* Цвет заголовка */
}

.product-item p {
    color: #666;
}