<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <title>{% block title %} Store {% endblock %}</title>
</head>

<body>
    <header>
        <div class="header-logo">
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Логотип магазина" />
        </div>
        <div class="header-title">
            <h1>Store</h1>
        </div>
        <nav>
            <div class="shopping-cart">
                <a href="/cart">
                    <img src="{{ url_for('static', filename='images/cart.png') }}" alt="Сart" />
                    <span id="cart-count">0</span> 
                </a>
            </div>

            <a href="{{url_for('main.index')}}">Home</a>
            {% if current_user.is_authenticated %}

            <a href="{{ url_for('main.dashboard') }}">Аккаунт</a>
            <a href="{{url_for('auth.logout')}}">Logout</a>
            {% else %}
            <a href="{{url_for('auth.login')}}">Login</a>
            <a href="{{url_for('auth.register')}}">Register</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% with messages=get_flashed_messages()%}
        {% if messages%}
        <ul>
            {% for message in messages%}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content%}
        {% endblock %}

    </main>

</body>

</html>