<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать заказ</title>
</head>
<body>
    <h1>Создать заказ</h1>
    <form action="{{ url_for('create_order') }}" method="POST">
        <label for="status">Статус заказа:</label>
        <input type="text" id="status" name="status" required><br>

        <input type="hidden" name="user_id" value="{{ user_id }}">
        
        <input type="submit" value="Создать заказ">
    </form>
</body>
</html>